.contentBx {
  /* position: relative; */
  margin: 10px 20px;
}

.contentBx .label {
        /* position: relative; */
        padding: 10px;
        background-color: black;
        color: white;
        cursor: pointer;
}

.contentBx .content {
        /* position: relative; */
        background-color: gray !important;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
        overflow-y: auto;
}


